.button {
    height: 55px;
    font-size: 14px;
    font-weight: 400;
    font-family: $fontFamilySecond;
    line-height: 26px;
    color: #fff;
    cursor: pointer;
    border: none;
    background-color: #5474fd;
}