$mainColor:#666666;
$secondcolor: #ffcc00;
$titleColor: #898f8f;

$fontMain: 'Raleway', sans-serif;
$fontSecond: 'Roboto', sans-serif;
$fontbtn: 'Open Sans', sans-serif;
$baseFontSize: 16px;
$lineHeaght: 24px;