body {
    background-color: #1d1c1c;
    
}
.wrapper {
    max-width: 1140px;
    display: flex;
    justify-content: center;
}
.boxes {
    flex: 1;
    text-align: center;
    margin-right: 23px;
}
p {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
}

h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: white;
    }


.box-icon {
    width: 80px;
    height: 80px;
    border-radius: 20px 0px 20px 0px;
    background: #ffae00;
    margin: 0 auto;
}
img {
    padding: 20px;
}
.container {
    max-width: 1172px;
    margin-top: 60px;

}
.kasper {
    display: flex;
    justify-content: center;
}

.icon {
display: flex;
justify-content: center;

}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fefbfc;
    text-align: center;
}
.separator {
    display: flex;
justify-content: center;
margin-top: -20px;
margin-bottom: -20px;
}

.color-text {
    color: #1abeec;
    
}
.reserved {
    display: block;
}
footer>p {
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}